.nameImage{
    width: 300px;
    box-shadow: 0 3px 5px rgba(255,255,255, 0.5);
    border: 1px solid #00fff2;
    cursor: pointer;
    border-radius: 10px;
}

.nameImage:hover{
    box-shadow: 0 3px 15px rgba(255,255,255, 0.5);
    
}

.heading{
    font-family: 'Carattere', cursive;
}

@media only screen and (max-width: 768px) {
    .nameImage{
        width: 175px;
    }
}