.navigation{
    background: rgba(0,0,0,0.6);
}

.logo{
    width: 30px;
    height: 30px;
}

.navButton:hover{
    color: #a04f75 !important;
}

.navToggleButton{
    border-radius: 50%;
    background-color: #00fff2;
}