.navigation{
    background: rgba(0,0,0,0.6);
}

.logo{
    width: 30px;
    height: 30px;
}

.navButton:hover{
    border: 1px solid #00fff2;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(255,255,255, 0.5);
}

.navToggleButton{
    border-radius: 50%;
    background-color: #00fff2;
}