.heading{
    font-family: 'Carattere', cursive;
}

.logOutButton{
    width: 200px;
    box-shadow: 0 3px 5px rgba(255,255,255, 0.5);
    border: 1px solid #00fff2;
    cursor: pointer;
    border-radius: 20px;
    color: #00fff2;
}

.logOutButton:hover{
    box-shadow: 0 3px 15px rgba(255,255,255, 0.5);
}